<launch>
    <arg name="echo1" default="17"/>
    <arg name="trig1" default="27"/>
    <arg name="echo2" default="10"/>
    <arg name="trig2" default="9"/>
    <arg name="echo3" default="0"/>
    <arg name="trig3" default="5"/>
    <arg name="echo4" default="19"/>
    <arg name="trig4" default="26"/>


    <node pkg="us_node" type="us_node" name="us_node1" ns="us1" args="$(arg echo1) $(arg trig1)"/>

    <node pkg="us_node" type="us_node" name="us_node2" ns="us2" args="$(arg echo2) $(arg trig2)"/>

    <node pkg="us_node" type="us_node" name="us_node3" ns="us3" args="$(arg echo3) $(arg trig3)"/>

    <node pkg="us_node" type="us_node" name="us_node4" ns="us4" args="$(arg echo4) $(arg trig4)"/>

</launch>
